body {
    background-color: var(--background);
}

header {
    padding-top: 70px;

    h1 {
        padding-top: 8px;
    }

    img {
        width: 1120px;
        height: 660px;

        border-radius: 28px;
        margin-top: 25px;
    }

    h2 {
        color: var(--text-secondary);

        font-style: italic;
        font-weight: 400;

        font-size: 16px;
        line-height: 22px;

        text-align: center;
        padding-top: 18px;
    }
}

.linha {
    margin-top: 30px;
    border: 1px solid var(--border-primary);
}
